    <div class="line">
      <div class="speech-tier"></div>
      
      <div class="phoneme-tier">
        <div class="phoneme-cell"></div>
      </div>
      
      <div class="phoneme-tier">
        <div class="phoneme-cell"></div>
      </div>
      
      <div class="gloss-tier"></div>
    </div>
    
